<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Solicitud</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="con3">
        <h1>MODULO DE SOLICITUDES</h1>
    </div>
    <div class="container mt-5">
        <div  class="listado">AGREGAR SOLICITUD</div>
        <a type="button" class="btn btn-secondary" href="../">< Volver</a>
        <form action="" method="POST">{% csrf_token %}
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {{ form.as_table }}
                </tbody>
            </table>
            <br>
            <div style="text-align: center;">
                <button class="btn btn-primary" type="submit">AGREGAR</button> | 
                <button class="btn btn-danger" type="reset">RESET</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
<footer>
    <img src="/static/images/personal-security.png" alt="logo" class="logo">
    <p class="copy">
        Copyright © 2022. All rights reserved.
      </p>
</footer>
</html>